<div class="jumbotron">
  <h1 class="question display-4">CUSTOM YOUR CAT</h1>

  <button type="button" class="btn btn-primary"><%= link_to "add a cat", new_cat_path, class: "text-decoration-none text-white" %></button>
  </div>
</div>


<style>

  body {
    height: 100vh;
  }

</style>
