<div class="container">
  <div class="jumbotron">
    <div class="question col-6 offset-3 display-4"></div>

    <hr class="my-4">
    <ul class="answers col-6 offset-3 list-group"></ul>

    <div class="col-6 offset-3 mt-5">
      <button onclick="prev()" type="button" class="prev btn btn-primary">previous question</button>
      <button onclick="next()" type="button" class="next btn btn-success">next question</button>
    </div>

  </div>
</div>

<style>

  body {
    height: 100vh;
  }

  .disabled {
    visibility: hidden;
    opacity: 0;
  }

  li {
    cursor: pointer;
  }

  .selected {
    background: lightblue;
    color: white;
  }
   .selected:hover {
    background: lightblue;
    color: white;
  }

</style>

<script>

  var hash = { "results":
              [
                { 0: { "question": "What's he called ?",
                    "tree_answer": null,
                    "answers": [
                      [ "Bone", 1 ],
                      [ "Ivory", 1 ],
                      [ "Skin", 1 ]
                    ]
                  },
                },
                { 1: { "question": "How tall is he ?",
                    "tree_answer": null,
                    "answers": [
                      [ "8", 2 ],
                      [ "2", 2 ],
                      [ "6", 2 ]
                    ]
                  },
                },
                { 2: { "question": "How old is he ?",
                    "tree_answer": null,
                    "answers": [
                      [ "1", 3 ],
                      [ "3", 3 ],
                      [ "5", 3 ]
                    ]
                  },
                },
                { 3: { "question": "What gender is he ?",
                    "tree_answer": [ "Male", 5 ],
                    "answers": [
                      [ "Female", 4 ]
                    ]
                  },
                },
                { 4: { "question": "What color is he ?",
                    "tree_answer": null,
                    "answers": [
                      [ "Black", 6 ],
                      [ "Blue", 6 ]
                    ]
                  },
                },
                { 5: { "question": "What color is she ?",
                    "tree_answer": null,
                    "answers": [
                      [ "White", 6 ],
                      [ "Pink", 6 ]
                    ]
                  },
                },
                { 6: { "question": "Is it for special gift ?",
                    "tree_answer": null,
                    "answers": [
                      [ "Yes", 7 ],
                      [ "No", 7 ]
                    ]
                  },
                },
              ]
            }

  var question_div = $('.question');
  var answers_ul = $('.answers')
  var answers_html = "";
  var answers = [];
  var next_question = $('.next');
  var prev_question = $('.prev');
  var index = 0;
  var i;
  var selected_index = null;
  var tree_index = null;

  function start() {
    prev_question.addClass('disabled');

    question_div.html(`<h1>${hash.results[index][index].question}</h1>`);

    answers = [...hash.results[index][index].answers, hash.results[index][index].tree_answer]
    answers = answers.filter(function(element){ return element != null })
    for (i = 0; i < answers.length; i++) {
      answers_html += `<li onclick="selectAnswer(${i})" class="list-group-item">
                        ${answers[i]}
                      </li>`
      answers_ul.html(answers_html);
    }
  }; start();


  function next() {
    var answers_html = "";
    index ++

    console.log('selected index on submit:' + selected_index)

    question_div.html(`<h1>${hash.results[index][index].question}</h1>`);

    answers = [...hash.results[index][index].answers, hash.results[index][index].tree_answer]
    answers = answers.filter(function(element){ return element != null })
    for (i = 0; i < answers.length; i++) {
      answers_html += `<li onclick="selectAnswer(${i})" class="list-group-item">
                        ${answers[i]}
                      </li>`
      answers_ul.html(answers_html);
    }

    if (index > 0) prev_question.removeClass('disabled');
    if (index == hash.results.length - 1) next_question.addClass('disabled');
  };

  function prev() {
    var answers_html = "";
    index --

    question_div.html(`<h1>${hash.results[index][index].question}</h1>`);

    answers = [...hash.results[index][index].answers, hash.results[index][index].tree_answer]
    answers = answers.filter(function(element){ return element != null })
    for (i = 0; i < answers.length; i++) {
      answers_html += `<li onclick="selectAnswer(${i})" class="list-group-item">
                        ${answers[i]}
                      </li>`
      answers_ul.html(answers_html);
    }

    if (index == 0) prev_question.addClass('disabled');
    if (index < hash.results.length - 1) next_question.removeClass('disabled');
  };

  function selectAnswer(i) {
    selected_index = i;
    tree_index = answers.indexOf(hash.results[index][index].tree_answer)
    console.log('selected index on input:' + selected_index)
  }


</script>
